html, body {
	padding:0;
	margin:0;
	background-color:#bbb;
	color:#444;
}

div.container {
	background-color:#fff;
	padding-bottom:2em;
	margin-bottom:2em;
  -moz-box-shadow: 0px 0px 20px #444;
  -webkit-box-shadow: 0px 0px 20px #444;
  box-shadow: 0px 0px 20px #444;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

h1, h2, h3, h4 {
	font-family:"kulturista-web", sans-serif;
	color:#564;
}

h1 a, h2 a, h3 a, h4 a {
	text-decoration:none;
	color:#675;
}

h1 a {
	color:#675;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
	color:#ff6600;
	text-decoration:underline;
}

h1 {
	font-size:350%;
	padding:1em 0 .75em 0;
	color:#777;
	font-weight:600;
	margin-bottom:.25em;
}

h2 {
	font-size:180%;
}

div#splash {
	overflow:none;
	height:350px;
}

div.splash img {
	width:950px;
	height:300px;
	border:3px solid #444;
	border-left:0;
	border-right:0;
}

div.description {
	padding-top:2em;
	text-align:justify;
}

div.specifications {
	margin-top:2em;
	border:3px solid #aaa;
	background-color:#eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

div.specifications h4 {
	margin:.75em 0 .75em 0;
}

p a, strong a {
	color:#ff6600;
}

p a:hover, strong a:hover {
	color:#bb3300;
}

div.footer {
	text-align:center;
	padding-top:1em;
	padding-bottom:3em;
	font-size:70%;
	color:#777;
}

hr {
	margin-top:3em;
}

a#buy-now {
	color:#fff;
	font-weight:bold;
	font-size:150%;
	text-decoration:none;
	margin-top:2em;
	padding-left:.5em;
	padding-right:.5em;
	border:11px solid #675;
	background-color:#675;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

a#buy-now:hover {
	background-color:#aaa;
	border-color:#aaa;
}

a#buy-now:active {
	background-color:#f60;
	border-color:#f60;
}
